<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Header")
</head>
<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
    <!-- Navigation -->
    @Html.Partial("_Navbar")

    <div class="content-wrapper">
        <div class="container-fluid">
            @RenderBody()            
        </div>
        @Html.Partial("_Footer")
    </div>    

    @Html.Partial("_Scripts")
    @RenderSection("scripts", required: false)
    @RenderSection("pagespecific", required: false)
</body>
</html>
